body h1, h2, h3, h4, h5, h6 ul, li{
    margin: 0;
}

header {
    max-width: 960px;
    height: 300px;
    margin: 0 auto;
    background-image: url(/images/inspector.jpeg);
    padding-top: 10px;
    background-repeat: no-repeat;